.fade-enter {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}

.slide-enter {
  transform: translateY(-100%);
}

.slide-enter-to {
  transform: translateY(65px);
}

.slide-leave {
  transform: translateY(65px);
}

.slide-leave-to {
  transform: translateY(-100%);
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s ease-in-out;
}
